secrets:
  db_password:
    file: ./docker-postgres-password.txt

services:

  # Aspire Dashboard
  aspire:
    image: mcr.microsoft.com/dotnet/aspire-dashboard:latest
    container_name: obs101-aspire-container
    environment:
      - DOTNET_DASHBOARD_UNSECURED_ALLOW_ANONYMOUS=true
    ports:
      - "18888:18888"
      - "4317:18889"

  # Database server
  postgres:
    image: postgres:18-alpine
    restart: on-failure
    container_name: obs101-postgres-container
    volumes:
      - ./database/postgres-data:/var/lib/postgresql
    ports:
      - "15432:5432"
    environment:
      - POSTGRES_USER=obs-example
      - POSTGRES_DB=obs-example-db
      - POSTGRES_PASSWORD=obs-example-password